# Ignore Gradle project-specific cache directory
.gradle

bin
# Ignore Gradle build output directory
build

application-dev.properties
application-real.properties
application-testdev.properties
application-testreal.properties
deploy.sh
aws.txt